:root{
    --N1: #FFFFFF;
    --N2: #F5F5F5;
    --N3: #E8E8E8;
    --N4: #B4B4B4;
    --N5: #717171;
    --N6: #494949;
    --N7: #212121;
    --N8: #000;
    --P1: #F2EFFF;
    --P2: #A07AFC;
    --P3: #7313EB;
    --P4: #3B057D;
    --P5: #19013C;
}