#btn {
    display: inline-block;
    padding: 8px 14px;
    border-radius: 4px;
    font-family: "Poppins";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--N2);
    transition: all 0.4s ease-in-out;
}

.btn-p {
    background: var(--P3);
    box-shadow: 0 3px 13px 5px rgba(146, 40, 179, 0.25), 0 4px 12px 4px rgba(255, 255, 255, 0.25) inset;
}

.btn-b {
    background: var(--N8);
    box-shadow: 0 3px 13px 5px rgba(33, 33, 33, 0.25), 0 4px 12px 4px rgba(255, 255, 255, 0.25) inset;
}

#btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 2px 13px 3px rgba(148, 148, 148, 0.25), 0 4px 12px 4px rgba(255, 255, 255, 0.25) inset;
}

span {
    color: var(--P3);
}

#skill-card {
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    color: var(--N6);
    background: var(--N1);
    box-shadow: 0 3px 13px 5px rgba(33, 33, 33, 0.25), 0 4px 12px 4px rgba(255, 255, 255, 0.25) inset;
    position: absolute;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

#skill-card img {
    width: 18px;
    height: 18px;
}

#skill-card:hover {
    box-shadow: none;
}

.container {
    max-width: 1400px;
    padding-top: 124px;
    padding-bottom: 124px;
    padding-left: 64px;
    padding-right: 64px;
    margin-left: auto;
    margin-right: auto;
}

#subtitle {
    color: var(--P2);
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    padding: 8px 14px;
    font-family: var(--font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 4px;
    background: var(--P4);
    box-shadow: 0 3px 11px 4px rgba(115, 19, 232, 0.25), 0 4px 12px 4px rgba(255, 255, 255, 0.25) inset;
    transition: all 0.4s ease-in-out;
    width: fit-content;
}

#subtitle:hover {
    box-shadow: 0 3px 11px 4px rgba(149, 79, 234, 0.186), 0 4px 12px 4px rgba(255, 255, 255, 0.25) inset;
    transform: translateY(-4px);
}

@media (max-width:1200px) {

    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    #btn {
        font-size: 16px;
    }

}

@media (max-width:960px) {

    .container {
        padding-left: 24px;
        padding-right: 24px;
    }

    #btn {
        font-size: 14px;
    }

    #skill-card {
        padding: 7px 14px;
    }
}

@media (max-width:760px) {

    .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    #skill-card {
        padding: 5px 5px;
    }

    #subtitle {
        font-size: 12px;
    }
}

@media (max-width:560px) {
    #skill-card {
        padding: 4px 4px;
    }
}

@media (max-width:420px){
    #skill-card{
        display: none;
    }
}